@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.navbar__container, .navbar__container .navbar__logo, .navbar__container .navbar__link, .navbar__container .navbar__link li a, .navbar__container .navbar__link li a p, .navbar__container .navbar__link .nav__button, .navbar__container .navbar__link .nav__button .nav__button__number__container .nav__button__number, .navbar__container .navbar__link .nav__button .nav__button__search, header .title__container .ZHtitle__contaitner, .main, .footer .footer__container, .footer .footer__upside, .footer .footer__downside, .footer .footer__downside .footer__logo, .footer .footer__downside .footer__share, .footer .footer__downside .footer__share a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #1E646A;
  font-family: 'Noto Sans TC', sans-serif;
  font-family: 'Alata', sans-serif;
  position: relative;
}

.background__line {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  mix-blend-mode: soft-light;
  opacity: 0.58;
  z-index: -10;
}

.background__line img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.background__tail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  z-index: -5;
}

.background__tail img {
  left: 43.15%;
  right: 36.35%;
  top: 10.87%;
  bottom: 55.46%;
  -webkit-animation: float infinite 5s;
          animation: float infinite 5s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.2));
          filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.2));
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  50% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  100% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
  50% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  100% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

.navbar__container {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 65px;
  background-color: #6AB5B9;
  -webkit-filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar__container .navbar__logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 50px;
}

.navbar__container .navbar__logo #navbar__logoPic {
  width: 60px;
}

.navbar__container .navbar__logo #navbar__logoText {
  width: 75px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.navbar__container .navbar__link {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.navbar__container .navbar__link li a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.2px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.navbar__container .navbar__link li a p {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 22px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin: 15px;
}

.navbar__container .navbar__link li a i {
  margin: 0 2px;
}

.navbar__container .navbar__link li a:hover {
  color: #EA5136;
}

.navbar__container .navbar__link li #buyTicket {
  color: #4D3CCD;
}

.navbar__container .navbar__link li .menu__container {
  position: absolute;
  margin: 20px 7px;
  width: 90px;
  padding: 10px 0;
  background-color: #6AB5B9;
  border-radius: 8px;
}

.navbar__container .navbar__link li .menu__container .menu {
  padding: 5px 0;
  text-align: center;
  margin-left: auto;
  background-color: #6AB5B9;
  color: white;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.navbar__container .navbar__link li .menu__container .menu:hover {
  background-color: #EA5136;
}

.navbar__container .navbar__link .nav__button {
  background-color: #FFFFFF;
  padding: 6px 15px;
  margin: 0 30px 0 15px;
  border-radius: 20px;
}

.navbar__container .navbar__link .nav__button .nav__button__number__container {
  position: absolute;
  width: 0;
  height: 0;
}

.navbar__container .navbar__link .nav__button .nav__button__number__container .nav__button__number {
  color: #FFFFFF;
  background-color: #EA5136;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  position: relative;
  top: -20px;
}

.navbar__container .navbar__link .nav__button .nav__button__line {
  height: 18px;
  margin: 0px 12px;
  width: 1px;
  background-color: #E1E1E1;
}

.navbar__container .navbar__link .nav__button .nav__button__search .nav__button__searchBar {
  width: 80px;
  margin: 0 5px;
  border-radius: 3px;
  border: 1px black solid;
}

header .title__container {
  margin: 140px 10vw 160px 10vw;
  font-weight: 700;
  font-size: 10rem;
  color: #D3D6B1;
  width: 300px;
}

header .title__container h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 77px;
}

header .title__container .ZHtitle__contaitner {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: 0px;
}

header .title__container .ZHtitle__contaitner h2 {
  position: relative;
  top: -56px;
  left: 48px;
  width: 30px;
  font-size: 30px;
  line-height: 40px;
  margin: 0 16px;
  color: #FFFFFF;
  font-weight: 500;
}

header .title__container .ZHtitle__contaitner .ZHtitle__line {
  position: relative;
  top: -56px;
  left: -16px;
  width: 3px;
  height: 119px;
  background-color: #6AB5B9;
}

header .title__container #ENtitle_2 {
  position: relative;
  left: 150px;
}

.main {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-weight: 700;
  color: #D3D6B1;
  max-width: 1280px;
  margin: 0 auto 200px;
}

.main .news-list__container {
  position: relative;
  width: 90%;
  padding-left: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .news-list__content-right {
  width: 50%;
  margin-top: 176px;
}

.main .news-list__item {
  margin-bottom: 56px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  width: 500px;
  height: 410px;
}

.main img {
  position: relative;
  right: 32px;
}

.main a {
  text-decoration: none;
}

.main .news-thumbnail__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .news-thumbnail__title {
  padding: 16px 12px 0;
  margin-bottom: 12px;
  font-family: Noto Sans;
  font-size: 20px;
  font-weight: 900;
  line-height: 33px;
  letter-spacing: 0.2%;
  color: #000000;
}

.main .news-thumbnail__time {
  padding: 0 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-family: SF Pro;
  font-size: 14px;
  font-weight: 274;
  line-height: 16px;
  letter-spacing: 0.2%;
  color: #C2C0C0;
}

@media (min-width: 768px) {
  .main .bounceInUp {
    -webkit-animation: bounceInUp;
            animation: bounceInUp;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  @-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
              transform: translate3d(0, 3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
              transform: translate3d(0, -5px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  @keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
              transform: translate3d(0, 3000px, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
              transform: translate3d(0, -20px, 0);
    }
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
              transform: translate3d(0, 10px, 0);
    }
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
              transform: translate3d(0, -5px, 0);
    }
    to {
      -webkit-transform: translate3d(0, 0, 0);
              transform: translate3d(0, 0, 0);
    }
  }
  .main .bounceInLeft {
    -webkit-animation: bounceInLeft;
            animation: bounceInLeft;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  @-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
              transform: translate3d(-3000px, 0, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
              transform: translate3d(25px, 0, 0);
    }
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
              transform: translate3d(-10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
              transform: translate3d(5px, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
              transform: translate3d(-3000px, 0, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(25px, 0, 0);
              transform: translate3d(25px, 0, 0);
    }
    75% {
      -webkit-transform: translate3d(-10px, 0, 0);
              transform: translate3d(-10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
              transform: translate3d(5px, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  .main .bounceInLeft2 {
    -webkit-animation: bounceInLeft;
            animation: bounceInLeft;
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  @-webkit-keyframes bounceInLeft2 {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
              transform: translate3d(-3000px, 0, 0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translate3d(25px, 0, 0);
              transform: translate3d(25px, 0, 0);
    }
    75% {
      opacity: 1;
      -webkit-transform: translate3d(-10px, 0, 0);
              transform: translate3d(-10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
              transform: translate3d(5px, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes bounceInLeft2 {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      opacity: 0;
      -webkit-transform: translate3d(-3000px, 0, 0);
              transform: translate3d(-3000px, 0, 0);
    }
    60% {
      opacity: 0;
      -webkit-transform: translate3d(25px, 0, 0);
              transform: translate3d(25px, 0, 0);
    }
    75% {
      opacity: 1;
      -webkit-transform: translate3d(-10px, 0, 0);
              transform: translate3d(-10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(5px, 0, 0);
              transform: translate3d(5px, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  .main .bounceInRight {
    -webkit-animation: bounceInRight;
            animation: bounceInRight;
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  @-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
              transform: translate3d(3000px, 0, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
              transform: translate3d(-25px, 0, 0);
    }
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  @keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
              transform: translate3d(3000px, 0, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
              transform: translate3d(-25px, 0, 0);
    }
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
  .main .bounceInRight2 {
    -webkit-animation: bounceInRight;
            animation: bounceInRight;
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
  }
  @keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
              animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    from {
      opacity: 0;
      -webkit-transform: translate3d(3000px, 0, 0);
              transform: translate3d(3000px, 0, 0);
    }
    60% {
      opacity: 1;
      -webkit-transform: translate3d(-25px, 0, 0);
              transform: translate3d(-25px, 0, 0);
    }
    75% {
      -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0);
    }
    90% {
      -webkit-transform: translate3d(-5px, 0, 0);
              transform: translate3d(-5px, 0, 0);
    }
    to {
      -webkit-transform: none;
              transform: none;
    }
  }
}

.footer {
  padding: 40px;
  background-color: #6AB5B9;
  color: #D3D6B1;
}

.footer .footer__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer__upside {
  width: 100%;
  margin-bottom: 3rem;
}

.footer .footer__upside section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  height: 10vh;
  margin: 0 2.5rem;
}

.footer .footer__upside section .footer__title {
  font-weight: 700;
}

.footer .footer__upside section span {
  margin-bottom: 1rem;
}

.footer .footer__upside section .footer__contant {
  color: #FFFFFF;
}

.footer .footer__upside section .footer__contant a {
  text-decoration: none;
  color: #FFFFFF;
}

.footer .footer__line {
  width: 100%;
  border: solid 0.5px #D3D6B1;
}

.footer .footer__downside {
  width: 100%;
  margin-top: 2rem;
}

.footer .footer__downside .footer__logo {
  width: 25%;
  max-width: 1000px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: arial;
  font-size: 3rem;
}

.footer .footer__downside .footer__logo #footer__logoPic {
  width: 100px;
}

.footer .footer__downside .footer__logo #footer__logoText {
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
  width: 120px;
}

.footer .footer__downside .footer__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

.footer .footer__downside .footer__contact span {
  margin-bottom: 1rem;
  font-family: arial;
}

.footer .footer__downside .footer__share {
  width: 25%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .footer__downside .footer__share a {
  text-decoration: none;
  margin: 0 0.5rem;
  border: white solid 1px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-family: arial;
}

.footer .footer__downside .footer__share a i {
  color: #D3D6B1;
}

.navbar__container {
  position: fixed;
  top: 0px;
  z-index: 1;
  width: 100%;
  height: 65px;
  background-color: #6AB5B9;
  -webkit-filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.25));
  -webkit-transition: all 1s;
  transition: all 1s;
}

.navbar__container .navbar__logo {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-left: 50px;
}

.navbar__container .navbar__logo #navbar__logoPic {
  width: 60px;
}

.navbar__container .navbar__logo #navbar__logoText {
  width: 75px;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.navbar__container .navbar__link {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  overflow: hidden;
}

.navbar__container .navbar__link li a {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  letter-spacing: 0.2px;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.navbar__container .navbar__link li a p {
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 22px;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  margin: 15px;
}

.navbar__container .navbar__link li a i {
  margin: 0 2px;
}

.navbar__container .navbar__link li a:hover {
  color: #EA5136;
}

.navbar__container .navbar__link li #buyTicket {
  color: #4D3CCD;
}

.navbar__container .navbar__link li .menu__container {
  position: absolute;
  margin: 20px 7px;
  width: 90px;
  padding: 10px 0;
  background-color: #6AB5B9;
  border-radius: 8px;
}

.navbar__container .navbar__link li .menu__container .menu {
  padding: 5px 0;
  text-align: center;
  margin-left: auto;
  background-color: #6AB5B9;
  color: white;
  -webkit-transition-duration: 500ms;
          transition-duration: 500ms;
}

.navbar__container .navbar__link li .menu__container .menu:hover {
  background-color: #EA5136;
}

.navbar__container .navbar__link .nav__button {
  background-color: #FFFFFF;
  padding: 6px 15px;
  margin: 0 30px 0 15px;
  border-radius: 20px;
}

.navbar__container .navbar__link .nav__button .nav__button__number__container {
  position: absolute;
  width: 0;
  height: 0;
}

.navbar__container .navbar__link .nav__button .nav__button__number__container .nav__button__number {
  color: #FFFFFF;
  background-color: #EA5136;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  position: relative;
  top: -20px;
}

.navbar__container .navbar__link .nav__button .nav__button__line {
  height: 18px;
  margin: 0px 12px;
  width: 1px;
  background-color: #E1E1E1;
}

.navbar__container .navbar__link .nav__button .nav__button__search .nav__button__searchBar {
  width: 80px;
  margin: 0 5px;
  border-radius: 3px;
  border: 1px black solid;
}
/*# sourceMappingURL=style.css.map */