$color_main: #6AB5B9;
$color_secondary_blue: #4D3CCD;
$color_secondary_red: #EA5136;
$color_secondary_golden: #D3D6B1;
$color_secondary_white: #FFFFFF;
$color_secondary_black: #000000; //這個顏色隨便抓的
$color_secondary_gray:#C2C0C0;

$bgc_main: #1E646A;
